<section class="alerts-page">

  <div class="alerts-grid grid">
    
    <!--REPORT CARD-->
    <div class="card alert-card card-report-incident">
      <div class="icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <path d="m21.73 18-8-14a2 2 0 0 0-3.48 0l-8 14A2 2 0 0 0 4 21h16a2 2 0 0 0 1.73-3Z" />
          <path d="M12 9v4" />
          <path d="M12 17h.01" />
        </svg>
      </div>
      <div class="card-content">
        <h2 class="heading-md">Report Incident</h2>
        <p class="helper-text">Log field issues immediately</p>
      </div>
    </div>

    <!--NOTIFICATION CARD-->
    <div class="card alert-card card-notification-center">
      <div class="icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <path d="M6 8a6 6 0 0 1 12 0c0 7 3 9 3 9H3s3-2 3-9" />
          <path d="M10.3 21a1.94 1.94 0 0 0 3.4 0" />
        </svg>
      </div>
      <div class="card-content">
        <h2 class="heading-md">Notification Center</h2>
        <p class="helper-text">View your logs and messages</p>
      </div>
    </div>

  </div>
</section>